.app {
  height: 100vh;
  display: grid;
  padding: 16px;

  margin: 0 auto;

  max-width: 600px;

  grid-template-rows: auto auto 1fr;

  grid-gap: 8px;

  grid-template-areas:
    "header"
    "task-input"
    "task-list";
}

.header {
  grid-area: header;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1, h3 {
  color: #1890ff !important;
}

h2 {
  color: #1890ff !important;
  margin-bottom: 0 !important;

}