.todoListContainer {
  display: grid;
  grid-gap: 8px;
}

.todoContainer {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
}

.todoContainer:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tickBox {
  position: absolute;
  top: calc(50% - 1px) ;
  transform: translate(0, -50%);
}
.completed {
  display: inline-block;
  margin: 0 20px;
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}
.notCompleted {
  display: inline-block;
  margin: 0 20px;
}

.starOn {
  position: absolute;
  top: 50%;
  color: orange;
  float: right;
}
.starOff {
  position: absolute;
  top: 50%;
  color: gainsboro;
  float: right;
  transform: translate(0, -50%);
}
.createdDate {
  color: orange;
}
.textRed {
  color: red;
}
.textSuccess {
  color: rgb(21, 214, 21);
}

.todoContainer p {
  margin: 0;
}
